body{
  margin-left: 15px;
  margin-top: 15px;
  background-color: #212529;
}

ul,li,a{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style-type: none;
  display: inline;
}

a:hover{
  color: red;
}
